@import '/src/index.scss';

.side{
	position: relative;
	margin: 0 -15px;
	transition: all 0.2s;
}

.side-content.active{
	transform: translateY(0);
}

.side-content{
	position: absolute;
	width: 20%;
	height: 18rem;
	top: 0;
	right: 0;
	background: $yellowColor;
	border-radius: 0 0 1rem 1rem;
	z-index: 11;
	transform: translateY(-150%);
	transition: all 0.4s;
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		margin-top: 50px;
	}	
	&__item {
		padding: .5rem;
	}
	&__link {
		&:hover{
			color: $pinkColor;
		}
	}
}

.side-lang {
		&__link {
			color: #000;
			&:hover {
				background: $pinkColor;
				color: #fff;
			}
		}
		&__link--active {
			background: $pinkColor;
			color: #fff;
		}
}

@media (max-width: 992px) {
	.side-content {
		width: 30%;
	}
}

@media (max-width: 767px) {
	.side-content {
		width: 40%;
	}
}