.toolbar-left {
	width: 25%;
	.categories {
		width: calc(100% - 3rem);
	}
	.cart-icon {
		width: 3rem;
	}
}
.toolbar-right {
	width: 75%;
	.search {
		position: relative;
		width: calc(100% - 6rem);
		&__icon {
			padding: .1875rem 0.375rem;
			margin-left: -3rem;
			border-left: 1px solid #c6c6c6;
		}
	}
	.icons{
		width: 6rem;
	}
	.clear__icon {
		position: absolute;
		right: 7%;
		cursor: pointer;
	}
}

@media (max-width: 992px) {
	.toolbar-left {
		width: 35%;
	}
	.toolbar-right {
		width: 65%;
	}
	.clear__icon{
		margin-right: 1.2rem;
	}
}
@media (max-width: 767px) {
	.toolbar-left {
		width: 40%;
	}
	.toolbar-right {
		width: 60%;
	}
	.clear__icon{
		margin-right: 2rem;
	}
}
@media (max-width: 576px) {
	.toolbar-left {
		width: 100%;
	}
	.toolbar-right {
		width: 100%;
		.search {
			width: calc(100% - 3rem);
		}
		.icons{
			width: 3rem;
			.icons__favorite{
				margin-top: -2rem;
			}
		}
		.clear__icon{
			margin-right: 1.2rem;
		}
	}
}
